

<!DOCTYPEHTML>
<html>
<head>
    <title>PHOTOGALARY</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body id="top">

    


    <!-- ####################################################################################################### -->


    <div class="jumbotron" style="background-color: white">

        <div class="row" style="background-color: white; height: 500px">

            <div class="col-sm-2" style="background-color: white; ">

                <div class="container" style="width:400px; height:500px;">

                    <div class="panel panel-default" style="width: 170px; height: 500px; background-color: grey">
                        <div class="panel-heading">Catogories</div>
                        <div class="panel-body">Landscape</div>
                        <div class="panel-body">Fashion</div>
                        <div class="panel-body">Automobiles</div>
                        <div class="panel-body">WildLife</div>

                    </div>
                </div>

            </div>


           
            <div class="container">
                
                <div class="row">
                    <div align="right" class="col-sm-3">
                        <a href="/Home/imgView" rel="" title="Image 1" class="thumbnail" style="background-color: white">

                            <img src="~/Images/car1.jpg" class="img-rounded" width="200" height="300" alt="Title Text" />
                            <h3 align="center" style="font-family :'SketchFlow Print'"><font color="#e96519">Nature</font></h3>
                        </a>
                    </div>

                    <div class="col-md-3" style="background-color: white">
                        <a href="/Home/imgView" rel="" title="Image 1" class="thumbnail" style="background-color: white">

                            <img src="~/Images/fb_img_1436190628810.jpg" class="img-rounded" width="200" height="180" alt="Title Text" />
                        </a>
                    </div>

                    <div class="col-md-3" style="background-color: white">
                        <a href="/Home/imgView" rel="" title="Image 1" class="thumbnail" style="background-color: white">

                            <img src="~/Images/fb_img_1436190628810.jpg" class="img-rounded" width="200" height="180" alt="Title Text" />
                        </a>
                    </div>
                    <div class="col-md-3" style="background-color: white">
                        <a href="/Home/imgView" rel="" title="Image 1" class="thumbnail" style="background-color: white">

                            <img src="~/Images/fb_img_1436190628810.jpg" class="img-rounded" width="200" height="180" alt="Title Text" />
                        </a>
                    </div>





                    <div class="col-md-3" style="background-color: white">
                        <a href="/Home/imgView" rel="" title="Image 1" class="thumbnail" style="background-color: white">
                            
                            <img src="~/Images/fb_img_1436190628810.jpg" class="img-rounded" width="200" height="180" alt="Title Text" />
                            @* <img src="moustiers-sainte-marie.jpg" alt="Moustiers Sainte Marie" style="width:150px;height:150px">*@
                        </a>
                    </div>

                    <div class="col-md-3" style="background-color: white">
                        <a href="/Home/imgView" rel="" title="Image 1" class="thumbnail" style="background-color: white">
                            
                            <img src="~/Images/fb_img_1436190628810.jpg" class="img-rounded" width="200" height="200" alt="Title Text" />
                        </a>
                    </div>


                    <div class="col-md-3" style="background-color: white">
                        <a href="/Home/imgView" rel="" title="Image 1" class="thumbnail" style="background-color: white">
                            
                            <img src="~/Images/fb_img_1436190628810.jpg" class="img-rounded" width="200" height="180" alt="Title Text" />
                        </a>
                    </div>


                    <div class="col-md-3" style="background-color: white">
                        <a href="/Home/imgView" rel="" title="Image 1" class="thumbnail" style="background-color: white">
                            
                            <img src="~/Images/fb_img_1436190628810.jpg" class="img-rounded" width="200" height="180" alt="Title Text" />
                        </a>
                    </div>


                    <div class="col-md-3" >
                        <a href="/Home/imgView" rel="" title="Image 1" class="thumbnail" style="background-color: white">
                            
                            <img src="~/Images/fb_img_1436190628810.jpg" class="img-rounded" width="200" height="180" alt="Title Text" />
                        </a>
                    </div>

                    <div class="col-md-8">
                        <div class="container">
                           
                            <ul class="pager">
                                <li class="previous"><a href="#">Previous</a></li>
                                <li class="next"><a href="#">Next</a></li>
                            </ul>
                           
                        </div>

                    </div>



                </div>

            </div>

            

            
         
        </div>
      >
    </div>






    <!-- ####################################################################################################### -->



    @*<div class="container">
        @*<div style="background-color:black" class="jumbotron">

    </div>
    <div class="row">

        <div id="tabs-1" class="thumbnail">
            <ul>
                <li><a href="/Home/imgView" rel="" title="Image 1"><img src="~/Images/fb_img_1436190628810.jpg" class="img-rounded" width="230" height="230" alt="Title Text" /></a></li>
                

            </ul>
        </div>
    </div>*@


    <!-- ####################################################################################################### -->

    <div class="container-fluid" style="background-color:black">
        @*<div style="background-color:black" class="jumbotron">*@

        @*<p>Resize this responsive page to see the effect!</p>*@
        @*  </div>*@
        <div class="row">

            <div class="col-sm-2">
                <h3 style="color:darkred"></h3>
                <p></p>
                <p> </p>
            </div>

            <div class="col-sm-3">
                <h3 style="color:darkred">About Us </h3>
                <p>Aaaa bbbbb ccc dddddd eeeee ffffff gggggg hhhhh...</p>
                <p>Ut ssss sss dddd eeeee, qqqqq cfr exiteddd uuuyy uuuuuuu...</p>

            </div>


            <div class="col-sm-3">
                <h3 style="color:darkred">Contact Us</h3>
                <p>Aaaa bbbbb ccc dddddd eeeee ffffff gggggg hhhhh...</p>
                <p>Ut ssss sss dddd eeeee, qqqqq cfr exiteddd uuuyy uuuuuuu...</p>
            </div>

            <div class="col-sm-3">
                <h3 style="color:darkred">Column 4</h3>
                <p>Aaaa bbbbb ccc dddddd eeeee ffffff gggggg hhhhh...</p>
                <p>Ut ssss sss dddd eeeee, qqqqq cfr exiteddd uuuyy uuuuuuu...</p>
            </div>
        </div>
    </div>
    <!-- ####################################################################################################### -->




    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>
