@using login_signup.Models

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @*<a href="~/Views/Home/viewAlbum.cshtml">~/Views/Home/viewAlbum.cshtml</a>*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.12.0.min.js"></script>

    <title>PostComment</title>

    <script>
        $('#comment-button').on('click', function () {
            $('#comments-box').load('/Controller/PostComment?comment=' + $('#new-comment').val());
        });

    </script>
</head>
<body>
    <div>
        <div id="comments-box">
            @foreach(Comment c in Model)
            { 
                @c.comm
            }
            <!--Place comments here-->

        </div>
        <input id="new-comment" type="text" placeholder="Enter your comment here" />
        <input id="comment-button" type="button" value="Comment" />

    </div>

    <script src="~/Scripts/bootstrap.js"></script>

</body>
</html>
