@{
    ViewBag.Title = "Index";
}

<!DOCTYPEHTML>
<html>
<head>
    <title>PHOTOGALARY</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />



    <script type="text/javascript" src="layout/scripts/jquery-photostack.js"></script>
    <!-- coinslider -->
    <script type="text/javascript" src="layout/scripts/jquery-coin-slider.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#portfolioslider').coinslider({
                width: 480,
                height: 280,
                navigation: false,
                links: false,
                hoverPause: true
            });
        });
    </script>
    <!-- / coinslider -->


</head>
<body id="top">

    @*@<div class="row" style="background-color: white">*@


    @*<div class="row" style="background-color: white; height: 1000px">*@

    <div class="col-sm-3" style="height:500px">
        <div class="container" style="width:250px; height:1000px;">

            

        </div>

    </div>
    <div class="col-sm-10" align="center" style="background-color:white; width:800px">

        @*<h1 align="center" style="font-family: 'Buxton Sketch'; color: #e96519">PhotoSplash !</h1><br />
        <h3 align="center" style="font-family:'Buxton Sketch'">Wide Variety Of Desktop Wallpapers To add colors to your Gadgets !</h3><br />*@

        <div class="col-sm-10">
            <h2 align="center" style="font-family:'Buxton Sketch';color:#e96519">PhotoSplash </h2>
            <h3 align="center" style="font-family:'Buxton Sketch';color:#e96519">Wide Variety Of Desktop Wallpapers To add colors to your Gadgets !</h3><br />
        </div>

        <div align="center" class="col-sm-10">
            <a href="/Home/imgView" rel="" title="Image 1" style="background-color: white">

                <img src="~/Images/shape-collage-19.jpg" class="img-circle" width="600" height="400" alt="Title Text" />
                <h3 align="center" style="font-family :'SketchFlow Print'"><font color="#e96519"></font></h3>
            </a>
        </div>


        <div class="col-sm-5" align="center">
            <a href="/Home/login" rel="" title="Image 1" class="thumbnail" style="background-color:white">

                <img src="~/Images/car1.jpg" class="img-rounded" width="400" height="100" alt="Title Text" />
            </a>

        </div>

        <div align="right" class="col-md-5">
            <a href="/Home/login" rel="" title="Image 1" class="thumbnail" style="background-color: white">

                <img src="~/Images/Chicago-Photography-Workshop (1).jpg" class="img-rounded" width="300" height="250" alt="Title Text" />
            </a>
        </div>

        <div align="right" class="col-md-5">
            <a href="/Home/login" rel="" title="Image 1" class="thumbnail" style="background-color: white">
                <img src="~/Images/waterfall.jpg" class="img-rounded" width="300" height="300" alt="Title Text" />
            </a>
        </div>

        <div align="right" class="col-md-5">
            <a href="/Home/login" rel="" title="Image 1" class="thumbnail" style="background-color: white">

                <img src="~/Images/car.jpg" class="img-rounded" width="300" height="300" alt="Title Text" />
            </a>
        </div>
    </div>


    <!-- ####################################################################################################### -->
-->
    




    <script src="~/Scripts/bootstrap.js"></script>
</body>





</html>


