
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>UploadImage</title>

    <script>

        $('#CategorySelector').change(function () {
            var value = $('#CategorySelector').val();
            $('#d1').load('/home/upload?category=' + value);
           
        });

    </script>

</head>
<body>
    <div>
       <div align="center" class="panel-group">
        <div class="panel panel-default" style="width: 400px; height: 250px; background-color: ghostwhite; border: groove; border-color: #009688; border-width: thick">

            <form action="/Home/upload" method="post" enctype="multipart/form-data"></br>
                <p><strong>Category:</strong><input type="text" name="category" /></p>


                @*Select Category:
                <select id="CategorySelector">
                    <option value="0">-Select- </option>
                    <option value="car"> nature    </option>
                    <option value="mobile"> Automobiles </option>
                    <option value="car"> Artistic    </option>
                    <option value="car"> Fashion    </option>
                    <option value="car"> Food    </option>
                    <option value="car"> Wildlife    </option>

                </select>*@
                <div id="d1"></div>


                <p><strong>Acess(private/Public): </strong> <input type="text" name="Access" /></p>
                <p><strong>Image: </strong><input type="file" name="file" /></p>
                <input type="submit" value="Upload" />
            </form>
            </div>
</div>
        </div>

    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>
